# Backups
*.bak
*.swp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
mpisolve

# Output on /data/
/data/*
!/data/snapshot
/data/snapshot/*
!data/snapshot/.gitkeep

# python cache
scripts/__pycache__/
